
#body{
    background-color:white;
    color:Black;
  }
  #h1{
    color:#00294d;
    color:purple;
    font-size : 20px
  }
  img{
    text-align:center;
    border:10px solid #cccccc
      
  }
  .image{
    text-align:center;
    }
  #label1{
    font-size : 20px
  }